*.pyc
tmp
play.plugins.debug
*.ipr
*.iml
*.iws
id
*.pid
log
.DS_Store
*/.DS_Store
#.gitignore#
.gitignore~
project
.idea
indexData
smallIndexData
compiler.xml
misc.xml
modules.xml
vcs.xml
workspace.xml

modules/
lib/
target/
lib_managed/
src_managed/
project/boot/
precompiled/
logs/
test-result/