@(title:String, items: Seq[minerals.Mineral])

@main(title) {

    <script src="/assets/javascripts/jquery.flot.js"></script>

    <div id="placeholder" style="width: 800px; height: 400px;"></div>


    <script id="source" language="javascript" type="text/javascript">

        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5,
                border: '1px solid #fdd',
                padding: '2px',
                'background-color': '#fee',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }


        $(function () {
            var options = {
                grid: {
                    hoverable: true,
                    clickable: true,
                    backgroundColor: { colors: ["#000", "#999"] }
                },
                series: {
                    points: {show: true}
                },
                legend: { noColumns: 2, position: "ne" },
                yaxis: { min: 0 , ticks: 25},
                <!--xaxis: {}-->
            };

            var points = [];
            var minerals = [];
            var placeholder = $("#placeholder");
            $.getJSON("/data", function(pairs){
                $.each(pairs, function(index, mineral) {
                    points.push([mineral.complexity, mineral.order]);
                    minerals.push(mineral);
                });
                $.plot(placeholder, [ { label: "complexity vs. space group order", data: points } ], options);
            });

            placeholder.bind("plothover", function (event, pos, item) {
                $("#x").text(pos.x.toFixed(2));
                $("#y").text(pos.y.toFixed(2));

                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);

                        mineral = minerals[item.dataIndex]

                        showTooltip(item.pageX, item.pageY,
                        item.series.label + " for " + mineral.name + " of " + x + " = " + y);
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });


        });
    </script>

    <table>
        @for( mineral <- items) {
        <tr>
            <td>@mineral.name</td>
            <td>@controllers.Application.render(mineral.chemistry.formula)</td>
            <td>@mineral.chemistry.formula.complexity</td>
            <td>@controllers.Application.render(mineral.form)</td>
        </tr>
        }

    </table>
}